* {
    margin: 0;
    padding: 0;
    }

@media only screen and (max-width: 600px) {
    
    
    header{
         display:flex;
        flex-direction:column;
        justify-content: center;
        align-items: flex-start;
        }
    
    .searchInput{
          max-width:200px;
        }
     .navLeft{order:1; max-width:100vmin} .navCenter{order:3; max-width:100vmin;}
     .navRight{order:2;  max-width:100vmin}
        
     .productDiv{max-width:100vmin; }

     
    .productDescription > p {font-size: "12px";}

     .imageDiv{max-width: 30vmin;}

     #bagOpen{position: absolute; top:35px; max-width: 100vmin; max-height:200px}
    
      }

header{
    background-color: #0F1111;
    height:70px;
    color:white;
    display:flex;
    justify-content: space-between;
    
}

.navLeft{
    background-color: #0F1111;
    height:70px;
    display:flex;
    justify-content:space-between;
    align-items: center;
}

.navCenter{
    background-color: #0F1111;
    width:600px;
    height:70px;
    display:flex;
    align-items: center;  
    
}

.searchItems{
    display:flex;
    align-items:center;
    width:700px;
    height:40px;
    background-color: #0F1111;
    
}

.select{
    flex-grow: 1;
    font-family: 'Ubuntu', sans-serif;
    height:40px;
    width: 100px;
    background-color:lightgray;
    color:grey;
    outline: none;   
    border-radius: 5px 0px 0px 5px;
    border-right: 1px solid white;
    margin-right: 0;
    border: none;
    
}

.select:hover{
    background-color: lightgray;
    color:black;
}




.searchInput{
    border-left: 1px solid white;
    flex-grow: 10;
    display: flex;
    flex-grow: 3;
    font-family: 'Ubuntu', sans-serif;
    font-size:14px;
    height:40px;
    width:200px;
    background-color: white;
    color:black;
    outline: none;
    border: 1px solid black;
    padding:15px;
    border: none;
    
}

.magnifier{
 border: none;
flex-grow:1;
height:40px;
max-width: 40px;
display:flex;
align-items:center;
justify-content: center;
background-color: orange;
border-radius: 0px 5px 5px 0px;
}

.magnifier--img{
width: 20px;
}

.navRight{
    background-color: #0F1111;
    width:350px;
    height:70px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}

@media only screen and (max-width: 600px){
    .navRight{min-width: 100vmin;}  
}



.logging{
    height:40px;
    width:120px;
    display: flex;
    flex-direction: column;
   
}

.shoppingCart{
    display: flex;
    justify-content: space-evenly;
    align-items:center;
    margin-right:100px;
    width:100px;
    height:50px;
}



#container{
position: relative;
display: flex;
flex-wrap: wrap;
flex-direction:column;
align-items: center;
background-color: lightgray;
margin-top: 10px;

}

@media only screen and (max-width: 600px){
    #container{margin-top: 200px; background-color: steelblue;}  
}


.productDiv{
position:relative;
display: flex;
width: 700px;
height: 220px;
background-color: white;
margin-top:15px;
align-items: space-between;
}



.imageDiv{
    display: flex;
    min-width: 200px;
    min-height: 200px;
    background-color: white;
    margin-top:5px;  
    justify-content: center;
    align-items:center;
    border-right: 1px solid grey;
    
}

@media only screen and (max-width: 600px){
    .imageDiv{min-width:150px; height: 220px; border: none; font-size:10px; }
}


.productImage{
    max-width: 200px;
    max-height: 200px;
     
 }

 @media only screen and (max-width: 600px){
    .productImage{min-width:120px; height: 220px;  }
}


.productDivNone{
    display:none;
 }



.productDescription{
box-sizing: border-box;
display:flex;
word-wrap :break-word;    
flex-direction: column;
justify-content: space-between;
align-items: flex-start;
padding:15px;
min-width: 400px;
min-height: 220px;
background-color:white;

}

@media only screen and (max-width: 600px){
    .productDescription{min-width:150px; height: 220px;  }
}


.dawaj{width: 60px;
font-size: 12px;}


.addButton{
width:50px;
font-size: 12px;
}

.addButton1{
    width:60px;
    font-size: 12px;
    
    }

    .addButton1:active{
        animation-name: clicked;
        animation-duration: 1s;
    } 

        @keyframes clicked { 
            from { 
                transform: scale(1); 
            } to { 
                transform: scale(5); 
            }}

@media only screen and (max-width: 600px){
    .addButton{display:flex; flex-direction:column;}
}




#bagOpen{
overflow: scroll;   
margin-left: auto;
margin-top:100px;
display:flex;
flex-direction:column;
align-items:center;
background-color: #0F1111;
width:600px;
height:600px;
}

#bag{display: none;}

body{background-color: lightgray;
    font-family: 'Ubuntu', sans-serif;
}


@media only screen and (max-width: 600px){
    body{background-color: steelblue;}
}

.cartP{margin-top: 10px;
color: white;}

.itemAdded{
display: flex;
flex-direction:column;
align-items:space-between;
}

.deleteMe{
    width: 50px;
    height:50px;
    
}

#bagContainer{
     display: flex; flex-direction: column-reverse; 
}




     


